/*
Phone: 375px
Tablet: 768px
Desktop: 1280px
 */

*{
    font-family: Raleway;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf");
}

p{
    line-height: 1.9;
    margin-bottom: 20px;
}

#app{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex-direction: column;
    width: 100vw;
}

.section-title{
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    padding: 50px;
}

.text-center{
    text-align: center;
}

.center{
    display: inline-block;
}

.buy-btn{
    display: block;
    color: #000;
    font-size: 26px;
    font-weight: 800;
    line-height: 82px;
    text-align: center;
    text-transform: uppercase;
    background-position: -97px 0;
    width: 324px;
    height: 82px;
    margin: 0 auto;
    background-color: #228A22;
}

.cta_element{
    display: block;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-position: -97px 0;
    width: 100%;
    margin: 10px 0 10px 0;
    background-color: #1e3250;
    padding: 20px;
}

.white{
    color: white;
}

.icon-list li {
    margin-top: -24px;
    margin-left: -84px;
    position: absolute;
    top: 50%;
    left: 84px;
    list-style: none;
}

.bg__blue{
    background-color: #040E1E;
    padding: 50px;
}

.accordion{

    display: block;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-position: -97px 0;
    width: 100%;
    margin: 0 auto;
    background-color: #1e3250;

}

.accordion__headline{
    background-color: #1e3250;
}

.accordion__icon{
    padding: 5% 5% 5% 5%;
    float: left;
}

.accordion__headline__text{
    padding: 5% 5% 5% 5%;
    font-weight: 600;
}

@media only screen and (min-width: 768px){
    .cta_element{
        width: 75%;
    }

    .accordion{
        width: 75%;
    }

}

@media only screen and (min-width: 1280px) {
    .cta_element {
        width: 100%;
    }

    .accordion{
        width: 100%;
    }
}